.App {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: rgb(138, 227, 237);
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header a{
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 25px;;
}

.App-link {
  color: #61dafb;
}

.ListItem{
  display: flex;
  width:100%;
  height:250px;
  margin-left: 100px;
}

.ListItem h3.name{
  margin-top: 50px;
}

.item-box{
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 2%;
  border-style: groove;
  transition: 0.75s;
  opacity: 1;  
}

.item-page-navigation {
  font-weight: bold;
}

.item-image{
  width: 250px;
  height: 250px;
  background-size: cover;
}

.item-card-button {
  background-color: rgb(138, 227, 237);
  width: 120px;
  height: 30px;
  border-radius: .5em;
  font-size: 15px;
  font-weight: 500;
}

.stroller-filter{
  position:absolute;
  top:0;
  right:0;
}

.home-buttons {
  color: black;
  text-decoration: none;
  background-color: rgb(138, 227, 237);
  width: 150px;
  height: 30px;
  border-radius: .8em;
  font-weight: 500;
  margin: auto;
}

.submit-button {
  background-color: rgb(138, 227, 237);
  width: 80px;
  height: 23px;
  border-radius: .5em;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}

.nav-container-icons {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  gap: .5em;
  align-content: center;
  justify-content: center;
}

.slide-container {
  margin: auto;
  padding: 60px;
}