.App {
  text-align: center;
}

.App-header {
  background-color: rgb(138, 227, 237);
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header a{
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 25px;;
}

.App-link {
  color: #61dafb;
}

.ListItem{
  display: flex;
  width:100%;
  height:250px;
  margin-left: 100px;
}

.ListItem h3.name{
  margin-top: 50px;
}