
.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
/* TODO: FIX STYLING */

.App-header {
  background-color: rgb(124, 180, 233);
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 2px;
  margin: 25px;;
}

.App-link {
  color: #61dafb;
}

.ListItem{
  display: flex;
  width:100%;
  height:250px;
  margin-left: 100px;
}

.ListItem h3.name{
  margin-top: 50px;
}

.item-box{
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  border: groove;
  /* transition: 0.75s; */
  opacity: 1; 
  
}

.item-box a{
  text-decoration: none;
  color: black;
  font-style: italic;
}

.item-box a:hover{
  color: rgb(124, 180, 233);
}

.item-image{
  width: 250px;
  height: 250px;
  background-size: cover;
}

.stroller-filter{
  position:absolute;
  top:0;
  right:0;
}

.content-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slide-container{
  max-height: 800px;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.navlink-container{
  display: flex;
  justify-content: space-evenly;
}
